.loading-modal-title {
    color: white !important;
    font-size: 1rem !important;
  }
  
.loading-modal-footer {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}
  