/* for mobile first */
.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;
  visibility: visible;
}

.sidenav a {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  display: block;
  transition: 0.3s;
  color: gray;
}

.sidenav a span {
  padding-left: 1.5rem; 
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0rem;
  font-size: 1.5rem;
  display: none;
}

/* Retina display */
@media screen and (min-width: 1024px){
  .sidenav {
    width: 5%;
  }

  .sidenav:hover {
    width: 20%;
  }

  .sidenav a:hover {
    color: white;
  }

  .sidenav a span {
    padding-left: 1.5rem; 
    visibility: hidden;
  }

  .sidenav:hover .nav-item > i > span,
  .sidenav:hover ~ .nav-item > i > span {
    visibility: visible;
  }

}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
  .sidenav {
    width: 5%;
  }

  .sidenav:hover {
    width: 30%;
  }

  .sidenav a:hover {
    color: white;
  }

  .sidenav a span {
    padding-left: 1.5rem; 
    visibility: hidden;
  }

  .sidenav:hover .nav-item > i > span,
  .sidenav:hover ~ .nav-item > i > span {
    visibility: visible;
  }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
  .sidenav {
    width: 7%;
  }

  .sidenav:hover {
    width: 40%;
  }

  .sidenav a:hover {
    color: white;
  }

  .sidenav a span {
    padding-left: 1.5rem; 
    visibility: hidden;
  }

  .sidenav:hover .nav-item > i > span,
  .sidenav:hover ~ .nav-item > i > span {
    visibility: visible;
  }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
  .sidenav {
    display: none;
    width: 80%
  }

  .sidenav a {
    color: white;
  }

  .sidenav .nav-item > i > span,
  .sidenav ~ .nav-item > i > span {
    visibility: visible;
  }

  .sidenav .closebtn {
    display: block;
  }
}

/* Mobile LD */
@media screen and (max-width: 350px) {
  .sidenav {
    display: none;
    width: 80%
  }

  .sidenav a {
    color: white;
  }

  .sidenav .nav-item > i > span,
  .sidenav ~ .nav-item > i > span {
    visibility: visible;
  }

  .sidenav .closebtn {
    display: block;
  }
} 