
.simple-notification-title {
  color: white !important;
  font-size: 1rem !important;
}

.simple-notification-footer {
  width: 100% !important;
  display: flex !important;
  justify-content: right !important;
}



