

.list-header {
  display:flex;
  align-items:center;
  margin: 2rem 0rem;
}

.header-info {
  /* text-align: left; */
}

.header-title {
  margin: 1rem 1rem;
}

.search-bar {
  /*
  position: absolute;
  right: 1rem;
  */
}

/* Mobile HD */
@media screen and (max-width: 760px){
  .header-info {
    text-align: center;
  }
}
